@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --body-color: #e4e9f7;
    --sidebar-color:#fff;
    --primary-color:#695cfe;
    --primary-color-light:#f6f5ff;
    --toggle-color:#ddd;
    --text-color:#707070;
    --text-button-color: #fff;
    --button-color-primary-new: #4836BF;
    --button-color-secondary-new: #2994F2;

    --tran-02: all 0.2 ease;
    --tran-03: all 0.3 ease;
    --tran-04: all 0.4 ease;
    --tran-05: all 0.5 ease;
    
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-04);
    padding: 0px;
    margin: 0 0 0 0;
    border: 0;
}
body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light:#3a3b3c;
    --toggle-color:#fff;
    --text-color:#ccc;
    --text-button-color: #000;
}

/* ======= sidebar === */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
}
.sidebar.close{
    width: 88px;
}

.sidebar.close .nav-text{
    display: none;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;

}
 
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar .header-side{
    position: relative;
}

.sidebar .image-text img{
    max-width: 40px;
    border-radius: 6px;

}

.sidebar .header-side .image-text{
    display: flex;
    align-items: center;
}

.header-side .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.header-text .profession{
    margin-top: -2px;
}

.sidebar .header-side .toggle{
    position: absolute;
    top: 50%;
    right: -6%;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close .header-side .toggle{
    transform: translateY(-50%);
    right: -20%;
}

/* body.dark.close .sidebar .header-side .toggle{
    transform: rotate(180deg);
    color: var(--text-color);
} */


body.dark .sidebar .header-side .toggle{
    color: var(--text-color);
}

.sidebar li a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-04);
    z-index: 100;
}


.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon, 
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon, 
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    /* height: 100%; */
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);

}
.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}


.menu-bar .mode .toggle-switch{
    right: 0%;
    position: absolute;
    display: flex;
    height: 100%;
    min-width: 60px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    background: var(--toggle-color);
    transition: var(--tran-05);
    border-radius: 25px;
}

.switch::before{
    content: '';
    height: 15px;
    position: absolute;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 24px;
}

.home{
    position:relative;
    left: 280px;
    top: 30px;
    height: 100vh;
    width: calc(100% - 300px);
    background: var(--body-color);
    transition: var(--tran-05);
    justify-content: center;
    align-items: center;
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color:var(--text-color);
    padding: 8px 40px;
}

.sidebar.close ~ .home{
    width: calc(100% - 138px) !important;
    left: 118px;
    right:0px;

}

.sidebar .menu{
    margin-top: 35px;

}

.sidebar .menu-bar .menu .menu-links{
    padding-left: 0px;
}

.subtitulo{
    margin-left: 40px !important;
    font-size: 20px;
    color: var(--text-color);
}

.form-control{
    color: var(--text-color) !important;
}
.form-label{
    color: var(--text-color) !important;
}
.form-select{
    color: var(--text-color) !important;
}

.btn-new-primary{
    color: var(--text-button-color) !important;
    width: 100%;
}

/* .card{
    background:var(--sidebar-color);
} */